* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #bee;
}
h1{
    text-align: center;
    position: sticky;
}
.container{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}